<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentManagement"
        tools:targetApi="31">
        <activity
            android:name=".certificate.ManageCertificateActivity"
            android:exported="true"
            android:parentActivityName=".student.ListStudentActivity"/>
        <activity
            android:name=".student.DetailActivity"
            android:exported="true"
            android:parentActivityName=".student.ListStudentActivity"/>
        <activity
            android:name=".student.UpdateStudentActivity"
            android:exported="true"
            android:parentActivityName=".student.ListStudentActivity"/>
        <activity
            android:name=".student.ListStudentActivity"
            android:exported="true"/>
        <activity
            android:name=".student.AddStudentActivity"
            android:exported="true"
            android:parentActivityName=".student.ListStudentActivity"/>
        <activity
            android:name=".user.LoginHistoryActivity"
            android:exported="true"
            android:parentActivityName=".user.ListUserActivity"/>
        <activity
            android:name=".user.ProfileActivity"
            android:exported="true"/>
        <activity
            android:name=".user.ListUserActivity"
            android:exported="true"/>
        <activity
            android:name=".user.UpdateUserActivity"
            android:exported="true"
            android:parentActivityName=".user.ListUserActivity"/>
        <activity
            android:name=".user.AddUserActivity"
            android:exported="true"
            android:parentActivityName=".user.ListUserActivity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>